# Networking & Async
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
anyio==4.12.0
asyncssh==2.21.1
idna==3.11
urllib3==2.6.0
yarl==1.22.0

# Data Handling & Analysis
pandas==2.3.3
numpy==2.3.4
scipy==1.16.3
pyarrow==22.0.0
pyyaml==6.0.3
python-dateutil==2.9.0.post0
pytz==2025.2

# Machine Learning & Data Science
scikit-learn==1.7.2
mlflow==3.7.0
mlflow-skinny==3.7.0
mlflow-tracing==3.7.0
joblib==1.5.2
matplotlib==3.10.7
seaborn==0.13.2
plotly==6.4.0
missingno==0.5.2

# Web & API Frameworks
Flask==3.1.2
flask-cors==6.0.2
fastapi==0.124.4
uvicorn==0.38.0
starlette==0.50.0
Werkzeug==3.1.4

# Database & ORM
SQLAlchemy==2.0.45
psycopg==3.3.0
psycopg-binary==3.3.0
psycopg2==2.9.11
pgcli==4.3.0
pgspecial==2.2.1
sqlparse==0.5.4

# Version Control & DevOps
dvc==3.64.2
dvc-data==3.16.12
dvc-http==2.32.0
dvc-objects==5.1.2
dvc-render==1.0.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
GitPython==3.1.45
gitdb==4.0.12
docker==7.1.0

# Utilities & Helpers
click==8.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
rich==14.2.0
tqdm==4.67.1
colorama==0.4.6
setuptools==80.9.0
wheel==0.45.1
typing-extensions==4.15.0



# Serialization & Data Interchange
orjson==3.11.4
protobuf==6.33.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
simplejson==3.20.2
